<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand"><i class="material-icons md-48 text-info">store</i></a>
    <button class="navbar-toggler bg-info" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <div id="navbar" class="collapse navbar-collapse justify-content-between">
        <div class="col-sm-9">
            <div class="row">
        <ul class="navbar-nav ">
            <li class="nav-item dropdown">
                <a href="#"
                   class="nav-link text-success text-uppercase font-weight-bold px-3 nav-dropdown dropdown-toggle"
                   data-toggle="dropdown">Categories</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'home' %}">All Products</a>
                    {% for category in links %}
                    <a class="dropdown-item" href="{{category.get_url}}"> {{category.name}}</a>
                    {% endfor %}
                    <!--                    <a class="dropdown-item" href="">Category2</a>-->
                    <!--                    <a class="dropdown-item" href="">Category3</a>-->
                    <!--                    <a class="dropdown-item" href="">Category4</a>-->
                    <!--                    <a class="dropdown-item" href="">Category5</a>-->
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-success text-uppercase font-weight-bold px-3">Contact</a></li>
            <li class="nav-item">
                <a href="#" class="nav-link text-success text-uppercase font-weight-bold px-3">About</a></li>
            {% if request.user.is_authenticated and request.user.first_name %}
            <li class="nav-item">
                <span class="nav-link text-success text-uppercase font-weight-bold px-3">
                    Welcome, {{request.user.first_name}}!</span><i class="material-icons">account_circle</i></li>
            <li class="nav-item">
                <a href="{% url 'signout' %}" class="nav-link text-success text-uppercase font-weight-bold px-3">
                    Log Out</a><i class="material-icons">exit_to_app</i></li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'user_create' %}" class="nav-link text-success text-uppercase font-weight-bold px-3">
                    Sign Up</a><i class="material-icons">add</i></li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link text-success text-uppercase font-weight-bold px-3">
                    Log In</a><i class="material-icons">login</i></li>
            {% endif %}
            {% if item_count > 0 %}
            <li class="nav-item">
                <a href="{% url 'cart_detail' %}" class="nav-link text-success text-uppercase font-weight-bold px-3">
                    <i class="material-icons">add_shopping_cart</i>({{item_count}})
                </a></li>
            {% endif %}
        </ul>
                </div>
            </div>
        <div class="col-sm-3">
            <div class="row">
        <form class="form-inline">
            <input type="text" placeholder="Search...">
            <div class="input-group px-2">
                <button class="btn-info">
                    <i class="material-icons md-24 ">search</i>
                </button>
            </div>
        </form>
                </div>
            </div>
    </div>
</nav>